$primary: #C05AFF;
$yellow: #FFFD50;
$pink:#FF50BA;
$yellow_green:#C9FF50;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin circle_switcher {
  background: $primary;
  border-radius: 10px;
  cursor: pointer;
}
@mixin font_settings {
  line-height: 120%; /* 21.6px */
  letter-spacing: 0.18px;
}