* {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  @media (max-width: 1200px) {
    width: 100vw;
  }
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
}
